.blog {
    padding: 7% 0 5% 0;
    background-color: $main-light;
}

.blog__section {
    height: 100%;
}

.heading {
    color: $main-dark;
    font-family: 'Eastman';
    @include adaptiv-font(90, 30);
    font-weight: 700;
    margin-top: 0;
    margin-left: -5px;
    padding-left: $padding-percent;
}

.blog-section__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.blog-section__body {
    padding: 3% 5%;
    margin-bottom: 30px;
}

.blog-section__img {
    height: 400px;
}

.blog-section__img--left {
    order: -1;
}

.blog-section__heading {
    color: $main-dark;
    font-family: 'Eastman';
    @include adaptiv-font(35, 25);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-section__text {
    color: $main-dark;
    font-family: 'Eastman';
    @include adaptiv-font(25, 16);
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0;
    text-align: justify;
}

.blog-section__link {
    color: $main-dark;
    font-family: 'Eastman';
    @include adaptiv-font(25, 16);
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding: 7px;
    border: 2px solid $main-dark;
    text-decoration: none;
    width: fit-content;
}

.blog-limiter {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

