.footer {
  width: 100%;
  height: 100vh;
  padding: 0;
  position: relative;
  background-color: $main-light;
  z-index: 2;
}

.footer__content {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -32px;
}

.footer__content h2 {
  color: $main-dark;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}


.footer__content p,
.footer__content a,
.footer__communication a {
  color: $main-dark;
  @include adaptiv-font(48, 17);
  text-decoration: none;
  align-self: center;
  justify-self: center;
}

.footer__communication {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.footer__communication a {
  display: block;
  position: relative;
  width: fit-content;
  line-height: 1;
  margin-bottom: 20px;
}

.socials__item a {
  color: $main-dark;
  display: block;
  margin: 0;
  width: fit-content;
  line-height: 0;
  text-decoration: none;
}

.footer__communication a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: $main-dark;
  left: 0;
  bottom: 10px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.4s $cubic;
}

.footer__communication a:hover:after {
  transform: scaleX(1);
}

.footer__socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.footer__socials svg {
  width: 50px;
  transition: fill 0.4s $cubic;
}

.telegram svg:hover {
  fill: #0088cc;
}

.instagram svg:hover {
  fill: #833AB4;
}

.vk svg:hover {
  fill: #0077ff;
}

.facebook svg:hover {
  fill: #3b5998;
}

.youtube svg:hover {
  fill: #c4302b;
}

@media (min-width: 767px) {
  .footer__content {
    margin-top: 0;
  }

  .footer__socials svg {
    width: 80px;
  }

  .footer__socials {
    width: 60%;
    justify-content: space-evenly;
  }
}
