@keyframes slideIn {
  from {
      transform: translateX(-50%);
      opacity: 0;
  }

  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideOut {
  from {
      transform: translateX(0);
      opacity: 1;
  }

  to {
      transform: translateX(-50%);
      opacity: 0;
  }
}

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  background-color: $main-dark;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.menu__lang-list {
  display: flex;
  flex: 1 0 auto;
  list-style: none;
  margin: 0 8% 0 0;
  padding: 0;
  font-family: 'Bebas Neue Cyrillic';
  font-size: calc(32px + 10 * ((100vw - 425px) / 1920));
}

.menu__lang-item:not(:last-child) {
  margin-right: 15px;
}

.menu__item:not(:last-child) {
  margin-bottom: 40px;
}

.menu__item {
  position: relative;
  transform: translateX(-50%);
  opacity: 0;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: $cubic;
}

.menu__item a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: $main-dark;
  left: 0;
  bottom: 10px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.4s $cubic;
}

.menu__item a:hover:before {
  transform: scaleX(1);
}

.menu__lang-item button {
  width: 40px;
  color: $main-light;
  padding-top: 8px;
}

.menu__item a {
  text-decoration: none;
  color: $main-dark;
  display: block;
  padding: 10px;
}

.menu__list {
  font-family: 'Bebas Neue Cyrillic';
  font-size: calc(50px + 20 * ((100vw - 375px) / (1920 - 375)));
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu__logo {
  flex: 0 0 fit-content;
  margin-right: 8%;
  padding-top: 5px;
}

.menu__logo svg {
  width: 100px;
}

.menu__btn{
  width: 40px;
  height: 40px;
  position: relative;
  flex: 0 0 auto;
}

.btn__line {
  position: absolute;
  display: block;
  height: 5px;
  background-color: $main-light;
  width: 100%;
  transition: transform 0.4s $cubic;
}

.btn__line--1 {
  top: 15%;
  left: 0;
}

.btn__line--2 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn__line--3 {
  bottom: 15%;
  left: 0;
}

.menu__content {
  background-color: $main-light;
  width: 100vw;
  position: absolute;
  top: 80px;
  left: 50%;
  height: 100vh;
  z-index: 1;
  transform-origin: top center;
  transform: translateX(-50%) scaleY(0);
  transition: transform 0.4s $cubic;
  padding-top: 5%;
  padding-bottom: 80px;
}

@media (max-width: 767px) {
  .menu__content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0;
  }
}

