@keyframes fadeIn-1 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn-2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn-3 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scaleX(0);
    opacity: 0;
  }

  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

.header {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $height;
  display: flex;
  background-color: $main-dark;
}

.menu {
  width: 100%;
  padding: 0 5%;
  position: relative;
  z-index: 5;
  background-color: $main-dark;
}

.menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu__lang-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 62%;
  height: $height;
  margin: 0;
  padding: 10px 5% 5px 5%;
  font-family: 'Bebas Neue Cyrillic';
  @include adaptiv-font (20, 14);
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(30, 30, 30, 0.4);
  transform-origin: 100% 50%;
  transition: transform $transition;
  z-index: 12;
  backdrop-filter: blur(5px);
  transform: scaleX(0);
  cursor: none;
  opacity: 0;
}

.menu__lang-item  {
  opacity: 0;
  transition: opacity $transition;
}

.menu__lang-item a {
  width: 40px;
  height: 40px;
  color: $main-light;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s $cubic;
  font-size: 40px;
}

.navigation__item {
  margin-bottom: 20px;
}

.navigation__item {
  transform: translateX(100px);
  opacity: 0;
  // transition: opacity transform 100ms $cubic;
}

.navigation__item a {
  text-decoration: none;
  color: $main-dark;
  display: block;
  width: fit-content;
  position: relative;
  transition: color $transition;
  text-align: right;
  background: $gradient;
  background-clip: text;
}

.navigation__item:active {
  color: #575757;
}

.menu__blog-link {
  display: block;
  width: fit-content;
  height: 40px;
  color: white;
  font-family: 'Bebas Neue Cyrillic';
  @include adaptiv-font(60, 25);
  text-decoration: none;
  margin-bottom: 5px;
}

.menu__lang-item button:active {
  color: #E6E6E6;
}

.menu__lang-item button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: $main-light;
  transform: scaleX(0);
  transition: transform $transition;
  transform-origin: left center;
}

.menu__lang-item button:active:before {
  background-color: #E6E6E6;
}

.navigation__list {
  font-family: 'Bebas Neue Cyrillic';
  @include adaptiv-font(70, 30);
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: fit-content;
  align-self: flex-end;
  align-items: flex-end;
}

.menu__logo {
  margin-bottom: 9px;
  margin-right: 5%;
}

.menu__logo img {
  width: 65px;
  height: 45px;
}

.menu__btn {
  width: 40px;
  height: 40px;
  position: relative;
  flex: 0 0 auto;
  transition: transform $transition;
  transform: scale(1);
  margin-left: 5%;
}

.menu__btn:active {
  transform: scale(0.9);
}

.btn__line {
  position: absolute;
  display: block;
  height: 5px;
  background-color: $main-light;
  width: 100%;
  transition: transform $transition;
}

.btn__line--1 {
  top: 15%;
  left: 0;
}

.btn__line--2 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn__line--3 {
  bottom: 15%;
  left: 0;
}

.navigation {
  width: 100%;
  height: 100vh;
  height: var(--windowInnerHeight, 100vh);
  z-index: 3;
  padding: calc(5% + $height) 5% 5% 5%;
  background-color: $main-light;
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: 50% bottom;
  transform: translate(-50%, -100%) scaleY(0);
  transition: scaleY 100ms $cubic;
}

.navigation__wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5%;
}

.communication {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.communication a {
  @include adaptiv-font (20, 14);
  color: $main-dark;
  margin-bottom: 15px;
  text-decoration: none;
  font-family: 'Eastman';
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navigation__list svg {
  width: 20px;
  height: 20px;
  transition: fill $transition;
}

.communication__item {
  margin-right: 20px;
  opacity: 0;
  transition: opacity $transition;
}

.communication__phone {
  opacity: 0;
  transition: opacity 100ms $cubic;
}

.communication__mail {
  opacity: 0;
  transition: opacity 100ms $cubic;
}

.navigation__item a:active {
  color: #575757;
}

.navigation__item a:active:before {
  background-color: #575757;
}

.communication a:active {
  color: #575757;
}

.menu__lang-item--active {
  & button {
    background-color: #ff7622;
  }
}

.menu__lang-btn {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform $transition;

  & svg {
    width: 30px;
    height: 30px;
    transition: stroke $transition;
  }

  & span {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Eastman';
    color: #ff602c;
    font-weight: 700;
    font-size: 14px;
    transition: color $transition;
  }
}

.blog-link {
  display: block;
  font-family: "Bebas Neue Cyrillic";
  font-size: 40px;
  font-weight: 400;
  height: 40px;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  transition: color $transition;
  background: $gradient;
  background-clip: text;
  cursor: none;
  margin-right: auto;
}

@media (min-width: 768px) {
  .header {
    top: 0;
  }

  .navigation {
    padding: calc(3% + $height) 5% 5% 5%;
    transform: translate(-50%, 0) scaleY(0);
    transform-origin: 50% top;
    justify-content: space-between;
  }

  .menu__lang-list {
    top: 0;
    width: 78%;
    justify-content: flex-start;
    
    & li {
      margin-right: 25px;
    }
  }

  .blog-link {
    margin-right: auto;
  }

  .entry__text {
    text-align: justify;
  }
}

@media (min-width: 1200px) {
  .menu__wrapper {
    gap: unset;
  }

  .menu__lang-list {
    position: relative;
    background-color: transparent;
    background: linear-gradient(90deg, rgba(255,255,255,1) 75%, rgba(10,10,10,1) 75%);;
    width: fit-content;
    height: 100%;
    transform: scaleX(0);
    opacity: 0;
    padding: 14px 6% 14px 1.5%;
    margin: 0 -50px 0 0px;
    backdrop-filter: unset;
    order: 3;
    z-index: 2;
    transform-origin: 75% 50%;
    transition: all $transition;
    cursor: pointer;
  }

  .menu__lang-item {
    opacity: 0;
    
    & a {
      color: $main-dark;
      background: $gradient;
      background-clip: text;
      transition: color $transition;
    }
  }

  .menu__btn {
    margin-left: 5%;
    order: 5;
  }

  .menu__lang-btn {
    order: 4;
    position: relative;
    z-index: 3;
  }

  .menu__logo {
    margin-right: 5%;
  }
}

@media (max-width: 1200px) {
  .menu__lang-btn:active {
    transform: scale(0.9);
  }
}

@media (min-width: 1440px) {
  .menu {
    padding: 0;
  }

  .navigation {
    padding: 0;
  }

  .navigation__list svg {
    width: 40px;
    height: 40px;
  }

  .container {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .navigation__wrapper {
    padding-bottom: 3%;
    padding-top: calc(3% + $height);
  }
}

@media (any-hover: hover) {
  .communication a:hover {
    text-decoration: underline;
  }

  .navigation__item a:hover {
    color: transparent;
  }

  .menu__lang-item a:hover {
    color: transparent;
    cursor: pointer;
  }

  .blog-link:hover {
    color: transparent;
    cursor: pointer;
  }

  .menu__btn:hover .btn__line--1 {
    transform: translateY(1px);
  }

  .menu__btn:hover .btn__line--3 {
    transform: translateY(-1px);
  }

  .menu__lang-btn:hover {
    transform: scale(1.1);
  }

  .menu__lang-btn:hover + .menu__lang-list {
      animation-name: scaleIn;
      animation-duration: 0.2s;
      animation-fill-mode: both;
      animation-delay: 100ms;

    & .menu__lang-item:nth-child(1) {
      animation-name: fadeIn-1;
      animation-duration: 0.2s;
      animation-fill-mode: both;
      animation-delay: 200ms;
    }

    & .menu__lang-item:nth-child(2) {
      animation-name: fadeIn-2;
      animation-duration: 0.2s;
      animation-fill-mode: both;
      animation-delay: 300ms;
    }

    & .menu__lang-item:nth-child(3) {
      animation-name: fadeIn-3;
      animation-duration: 0.2s;
      animation-fill-mode: both;
      animation-delay: 400ms;
    }
  }

  .menu__lang-list:hover {
    transform: scaleX(1);
    opacity: 1;

    & .menu__lang-item:nth-child(1) {
      animation-name: fadeIn-1;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      animation-delay: 200ms;
    }

    & .menu__lang-item:nth-child(2) {
      animation-name: fadeIn-2;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      animation-delay: 300ms;
    }

    & .menu__lang-item:nth-child(3) {
      animation-name: fadeIn-3;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      animation-delay: 400ms;
    }
  }

  .menu__lang-list:hover ~ .menu__lang-item {
    opacity: 1;
  }
}

