.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: $height;
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
  position: relative;
  z-index: 5;
  background-color: $main-dark;
}

.menu__lang-list {
  display: flex;
  flex: 1 0 auto;
  list-style: none;
  margin: 0 8% 0 0;
  padding: 0;
  font-family: 'Bebas Neue Cyrillic';
  font-size: calc(32px + 10 * ((100vw - 425px) / 1920));
}

.menu__lang-item:not(:last-child) {
  margin-right: 15px;
}

.navigation__item {
  margin-bottom: 20px;
}

.navigation__item {
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.4s $cubic;
}

.navigation__item a {
  text-decoration: none;
  color: $main-dark;
  display: block;
  width: fit-content;
  position: relative;
}

.navigation__item a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: $main-dark;
  left: 0;
  bottom: 10px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.2s $cubic;
}

.menu__lang-item button {
  width: 40px;
  color: $main-light;
  padding-top: 8px;
}

.navigation__list {
  font-family: 'Bebas Neue Cyrillic';
  @include adaptiv-font(70, 25);
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: fit-content;
  align-self: flex-start;
}

.menu__logo {
  flex: 0 0 fit-content;
  margin-right: 8%;
  padding-top: 5px;
}

.menu__logo svg {
  width: 100px;
}

.menu__btn {
  width: 40px;
  height: 40px;
  position: relative;
  flex: 0 0 auto;
}

.btn__line {
  position: absolute;
  display: block;
  height: 5px;
  background-color: $main-light;
  width: 100%;
  transition: transform 0.4s $cubic;
}

.btn__line--1 {
  top: 15%;
  left: 0;
}

.btn__line--2 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn__line--3 {
  bottom: 15%;
  left: 0;
}

.navigation {
  width: 100%;
  height: 100vh;
  height: var(--windowInnerHeight, 100vh);
  z-index: 3;
  padding: calc(5% + $height) 5% 5% 5%;
  background-color: $main-light;
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: top center;
  transform: translateX(-50%) scaleY(0);
  transition: scaleY 0.4s $cubic;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation__contacts {
  position: relative;
  align-self: flex-start;
}

.communication {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.communication a {
  @include adaptiv-font (20, 14);
  color: $main-dark;
  margin-bottom: 15px;
  text-decoration: none;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.navigation__list svg {
  width: 20px;
  height: 20px;
  transition: fill 0.4s $cubic;
}

.communication__item {
  margin-right: 20px;
  opacity: 0;
  transition: opacity 0.4s $cubic;
}

.communication__phone {
  opacity: 0;
  transition: opacity 0.4s $cubic;
}

.communication__mail {
  opacity: 0;
  transition: opacity 0.4s $cubic;
}

@media (min-width: 1439px) {
  .navigation__list svg {
    width: 40px;
    height: 40px;
  }

  .communication a:hover {
    text-decoration: underline;
  }

  .navigation__item a:hover:before {
    transform: scaleX(1);
  }
}
