@keyframes dot {
    from {
        transform: translate(-50%, -150%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
}

@keyframes slideInBanner {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
  
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scaleInVerBottom {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.introduction {
    width: 100%;
    height: 100vh;
    padding: 0;
    position: relative;
}

.introduction__text {
    font-size: calc(30px + 20 * ((100vw - 375px) / (1920 - 375)));
    color: $main-light;
    margin: 0;
    padding-left: 6px;
    line-height: 1.5;
    font-family: 'demetriss';
    font-weight: 400;
}

.introduction__content {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction__content svg {
  width: 90%;
  height: 90%;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: $cubic;
}

.introduction__video-wrapper {
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
}

.introduction video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.next-screen {
    display: none;
}

@media (min-width: 767px) {
    .next-screen::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $main-light;
        transform: translate(-50%, -50%);
        animation-name: dot;
        animation-duration: 1s;
        animation-delay: 0.2s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-timing-function: $cubic;
    }

    .next-screen {
        position: absolute;
        display: block;
        z-index: 1;
        bottom: 5vh;
        left: 50%;
        width: 20px;
        height: 30px;
        border: 2px solid $main-light;
        border-radius: 10px;
        pointer-events: all;
    }
}

.oskar {
    animation: scaleInVerBottom 0.4s $cubic both;
    animation-delay: 0.2s;
}
  
.hartmann {
    animation: scaleInVerBottom 0.4s $cubic both;
    animation-delay: 0.3s;
}
  
.unicorn {
    animation: scaleInVerBottom 0.4s $cubic both;
    animation-delay: 0.4s;
}