.section {
  padding: 5%;
  z-index: 2;
  position: relative;
}

.section__scroll {
  margin-top: -50px;
}

.section__heading {
    margin-top: 0;
    margin-bottom: 15px;
}

.section__content {
    display: block;
}

.section__text,
.section-picture__text,
.section__list,
.footer__content p,
.footer__content a,
.footer__socials a {
    font-family: 'Baskerville Cyrillic';
    font-weight: 400;
    @include adaptiv-font(50, 22);
    margin-top: 0;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    color: $main-light;
}

@media (min-width: 767px) {
  .section__heading {
    margin-bottom: 30px;
  }

  .section__scroll {
    margin-top: 0;
  }
}
