.section-picture {
  display: block;
  padding: 10% 0;
}

.family {
  padding-bottom: 0;
}

.section-picture__text {
  font-family: 'Baskerville Cyrillic';
  font-weight: 400;
  @include adaptiv-font(30, 24);
  color: $main-light;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
}

.section-picture__heading {
	color: $main-light;
	margin: 0 0 15px 0;
}

.section-picture__heading--business {
  margin: 0;
}

.section-picture__text--business {
  margin: 0 0 30px 0;
  line-height: 1;
}

.section-picture__text:last-child {
  margin-bottom: 20px;
}

.section-picture__img {
  height: 800px;
}

.section-picture__body {
  padding: 0 5%;
}

@media (max-width: 475px) {
  .section-picture__img {
    height: 500px;
  }
}

@media (min-width: 1439px) {
  .section-picture {
		display: flex;
    margin-top: 0;
    padding: 5% calc(8% + 40px) 0 5%;
	}

	.section-picture__content {
		flex: 0 0 100%;
		display: flex;
	}

  .section-picture__body {
		padding: 0 50px 0 0;
	}

	.section-picture__img {
		flex: 0 0 50%;
		position: relative;
    margin-top: 0;
    height: auto;
	}

  .section-picture__img img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .section-picture__heading {
    margin: 0 0 30px 0;
  }

  .section-picture__heading--business {
    margin: 0;
  }
}
