.section {
  position: relative;
  height: fit-content;
  padding: 5%;
}

.bio {
  padding-top: 10%;
}

.section:last-of-type {
  padding-bottom: 0;
}

.section__heading {
    margin-top: 0;
    margin-bottom: 15px;
}

.section__content {
    display: block;
}

.section__text,
.section__list {
  font-family: 'Baskerville Cyrillic';
  font-weight: 400;
  @include adaptiv-font(30, 24);
  color: $main-light;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
}

.section__text:not(:last-child){
  margin: 0 0 20px 0;
}

.footer__content p,
.footer__content a,
.footer__socials a {
    font-family: 'Baskerville Cyrillic';
    font-weight: 400;
    @include adaptiv-font(35, 22);
    margin-top: 0;
    line-height: 1.5;
    margin: 0;
    color: $main-light;
}

.section__list {
  padding-left: 30px;
}

@media (min-width: 1439px) {
  .section__heading {
    margin-bottom: 30px;
  }

  .section {
    padding: 5% calc(8% + 40px) 5% 5%;
  }

  .section__list {
    padding-left: 40px;
  }
}
