<section class="section about-people paragraph-right">
  <div class="section__scroll" data-scroll data-scroll-speed='1'>
      <div class="swiper-slide">
          <h2 class="section__heading">ABOUT PEOPLE AND FOR PEOPLE</h2>
          <p class="section__text">
            For the first ten years of&nbsp;his entrepreneurial activity,
            Oskar successfully managed all his projects, focusing on&nbsp;all
            the opportunities they could provide him with. After reaching a&nbsp;certain point,
            Hartman had the necessary amount of&nbsp;resources not only to&nbsp;provide for
            himself and his family. Remembering how the scholarship he&nbsp;received helped
            him back in&nbsp;the day, Oskar set himself the goal of&nbsp;helping others
            on&nbsp;their path towards their goals and aspirations. Letters full of&nbsp;gratitude
            and feedback from people who really benefited from Oskar&rsquo;s philosophy charge
            him with energy and incentive to&nbsp;further development. Everything Oskar Hartmann
            does is&nbsp;dedicated to&nbsp;the notion of&nbsp;life. He&nbsp;explores what
            is&nbsp;widely considered to&nbsp;create a&nbsp;full and happy life, and what
            hampers these processes and pulls a&nbsp;person down. Oskar is&nbsp;deeply convinced
            that the most important component of&nbsp;a&nbsp;successful and fulfilling life is&nbsp;Action.
            After all, it&nbsp;is&nbsp;Action that turns dreams into reality. <i>&laquo;I&nbsp;am a&nbsp;man
            of&nbsp;action and man of&nbsp;construction. This is&nbsp;my&nbsp;main value, my&nbsp;habit,
            a&nbsp;muscle that&nbsp;I train every day</i>&raquo;&nbsp;&mdash; says Oskar.
            All of&nbsp;Hartmann&rsquo;s initiatives, organisations and appeals are aimed at&nbsp;helping
            people get off the couch and finally start acting. The cherished goal of&nbsp;an&nbsp;entrepreneur
            is&nbsp;to&nbsp;inspire people by&nbsp;setting his own example, to&nbsp;guide them forward on&nbsp;
            the journey towards the life they dream&nbsp;of.
          </p>
      </div>
  </div>
</section>
