<header class="header">
  <nav class="menu">
    <div class="menu__wrapper container">
      @include('backwards-btn.html')
      <button class="menu__lang-btn" ontouchstart>
        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="48" height="48" fill="white" fill-opacity="0.01"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M4 24H44" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24 44C28.4183 44 32 35.0457 32 24C32 12.9543 28.4183 4 24 4C19.5817 4 16 12.9543 16 24C16 35.0457 19.5817 44 24 44Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M9.85791 10.1421C13.4772 13.7614 18.4772 16 24 16V16C29.5229 16 34.5229 13.7614 38.1422 10.1421" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M38.1422 37.8579C34.5229 34.2386 29.5229 32 24 32C18.4772 32 13.4772 34.2386 9.85791 37.8579" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span>RU</span>
      </button>
      <ul class="menu__lang-list lang-menu lang-menu-article">
          <li class="menu__lang-item en">
              <a>EN</a>
          </li>
          <li class="menu__lang-item de">
              <a>DE</a>
          </li>
          <li class="menu__lang-item rus">
              <a>RU</a>
          </li>
      </ul>
      <button class="menu__btn btn" ontouchstart>
          <span class="btn__line btn__line--1"></span>
          <span class="btn__line btn__line--2"></span>
          <span class="btn__line btn__line--3"></span>
      </button>
    </div>
  </nav>
  <div class="navigation">
    <div class="navigation__wrapper container">
      <ul class="navigation__list">
        <li class="navigation__item">
            <a href="business.html">бизнес</a>
        </li>
        <li class="navigation__item">
            <a href="people.html">для людей</a>
        </li>
        <li class="navigation__item">
          <a href="not-only.html">не только</a>
        </li>
        <li class="navigation__item">
          <a href="money.html">деньги</a>
        </li>
        <li class="navigation__item">
          <a href="blog.html">блог</a>
        </li>
      </ul>
    <div class="navigation__contacts">
      <div class='menu__communication communication'>
        <a class="communication__phone" href="tel:+78121111111">8 (812) 123-45-67</a>
        <a class="communication__mail" href="mailto:mail@htmlacademy.ru&body=привет?subject=вопрос">VLADIMIR@HARTMANN.HOLDINGS</a>
      </div>
    </div>
    </div>
  </div>
</header>
