<section class="section bio paragraph-left" data-scroll data-scroll-speed='1'>
  <div class="section__scroll">
      <div class="swiper-slide">
          <h2 class="section__heading">BIOGRAPHY</h2>
          <p class="section__text">
            Oskar was born into a&nbsp;family of&nbsp;Russian Germans in&nbsp;Kazakhstan on&nbsp;May&nbsp;14, 1982.
            When Oskar turned eight years old, his parents decided to&nbsp;move to&nbsp;Germany, where
            the future entrepreneur spent all his youth. At&nbsp;the age of&nbsp;seventeen, Hartmann flew
            to&nbsp;the United States where he&nbsp;completed exchange studies at&nbsp;Tuscarawas Valley High School
            in&nbsp;order to&nbsp;master English in&nbsp;which he&nbsp;eventually succeeded. After coming back to&nbsp;Germany
            he&nbsp;graduated with honors from the technical gymnasium. When it&nbsp;came to&nbsp;serving in&nbsp;the army,
            Oskar chose an&nbsp;alternative civilian service, with which he&nbsp;proceeded in&nbsp;Russia during the whole 2004
            at&nbsp;the Children&rsquo;s Clinical Hospital. While in&nbsp;Russia, he&nbsp;took the opportunity to&nbsp;learn Russian language.
            Afterwards Oskar Hartmann entered WHU University in&nbsp;Koblenz and graduated with a&nbsp;degree in&nbsp;International
            Economics. During his studies, Oskar, being one of&nbsp;the best students, interned at&nbsp;multinational companies:
            BMW in&nbsp;Malaysia, GameGoods in&nbsp;Cologne, as&nbsp;well as&nbsp;at&nbsp;Boston Consulting Group. He&nbsp;spent several semesters
            as&nbsp;an&nbsp;exchange MBA student at&nbsp;the University of&nbsp;Hawaii (USA) and at&nbsp;the Financial Academy (Russia).
          </p>
      </div>
  </div>
</section>
