<section class="section-picture busines">
  <div class="section-picture__content" data-scroll data-scroll-speed='1'>
      <div class="section-picture__container">
          <div class="section-picture__body">
              <h2 class="section-picture__heading">busines</h1>
              <p class="section-picture__text">
                <i>You are what you&nbsp;do.</i>
              </p>
              <p class="section-picture__text">
                The life strategy and business plan of&nbsp;entrepreneur Oskar Hartmann 
                is&nbsp;to&nbsp;achieve everything through active actions, be&nbsp;faster 
                than others and not be&nbsp;afraid to&nbsp;try new things all the time.
                From the age of&nbsp;11, when young Hartmann got his first job, until today, 
                when his companies have reached a&nbsp;capitalization of&nbsp;five billion&nbsp;US dollars, 
                Oskar was guided by&nbsp;the philosophy of&nbsp;action. An&nbsp;entrepreneur, according 
                to&nbsp;Oskar Hartmann, is&nbsp;someone who can take an&nbsp;illusory idea and put 
                it&nbsp;into practice.
              </p>
              <p class="section-picture__text">
                Oskar has founded and is&nbsp;developing many companies:
                Aktivo&nbsp;&mdash; Joint investment in&nbsp;real estate&nbsp;&mdash; 
                low-risk rental business. CarPrice is&nbsp;a&nbsp;modern service for fast car repurchase.
                FactoryMarket is&nbsp;an&nbsp;international innovative project that combines practices 
                from e-commerce and offline trading. It&nbsp;works according to&nbsp;the concept of&nbsp;
                integrated omnichannel sales.
              </p>
              <p class="section-picture__text">
                Home Market is&nbsp;a&nbsp;chain of&nbsp;convenience stores at&nbsp;low prices. 
                Currently there are 119 network divisions operating in&nbsp;Russia, mainly in&nbsp;Moscow 
                and Moscow Oblast. Klyutch is&nbsp;a&nbsp;network of&nbsp;offices and coworking spaces. 
                Ready-made solutions for businesses of&nbsp;any scale. Teamo is&nbsp;an&nbsp;online 
                dating service for serious relationships. In&nbsp;&laquo;Teamo.ru&raquo; implemented 
                a&nbsp;unique selection of&nbsp;psychologically compatible partners. Each user of&nbsp;
                the site undergoes psychological testing.
              </p>
              <p class="section-picture__text">
                Relevant Media is&nbsp;an&nbsp;innovative online media company, a&nbsp;leader in&nbsp;the 
                segment of&nbsp;professional content for users looking for the answers to&nbsp;simple questions 
                online. Relevant Media helps readers solve everyday tasks, saves time and money, and answers 
                hundreds of&nbsp;thousands of&nbsp;practical questions. HomeMarket is&nbsp;a&nbsp;chain 
                of&nbsp;convenience stores at&nbsp;low prices. Vitaportal is&nbsp;a&nbsp;portal about 
                health and medicine. In&nbsp;addition to&nbsp;news and articles, various services are 
                hosted on&nbsp;the site: online diet, BMI calculator and others. All materials and articles 
                presented on&nbsp;the portal are checked by&nbsp;specialists, doctors and experts.
              </p>
              <p class="section-picture__text">
                AutoSpot is&nbsp;an&nbsp;online service for finding the best deals from dealers of&nbsp;
                new cars of&nbsp;all brands. The portal also has an&nbsp;online assessment of&nbsp;cars 
                and an&nbsp;electronic record for service stations. Iqcard is&nbsp;the most affordable 
                microlanding and local chatbots service for business. Hlebnoe mesto is&nbsp;a&nbsp;chain 
                of&nbsp;modern bakeries that offers its customers fresh bread and pastries made from natural 
                ingredients, prepared exclusively according to&nbsp;traditional recipes.
              </p>
          </div>
      </div>
  </div>
  <div class="section-picture__img">
      <img src="img\8.webp" alt="" data-scroll data-scroll-speed='-1'>
  </div>
</section>
