<section class="section-picture decathlon img-left">
  <div class="section-picture__content" data-scroll data-scroll-speed='1'>
      <div class="section-picture__container">
          <div class="section-picture__body body-right">
              <h2 class="section-picture__heading">decathlon</h1>
              <p class="section-picture__text">
                In&nbsp;addition to&nbsp;the philosophy of&nbsp;Action, Oskar Hartmann
                defines &laquo;decathlon&raquo; as&nbsp;a&nbsp;derivative of&nbsp;the meaning
                of&nbsp;life&nbsp;&mdash; a&nbsp;principle that he&nbsp;invented for himself.
                Oskar is&nbsp;convinced that a&nbsp;person should not throw all his strength
                into just one area: business, career, sports or&nbsp;family. Then the other
                aspects of&nbsp;life will remain &laquo;overboard&raquo;. A&nbsp;well-off
                person will be&nbsp;sick and lonely, and a&nbsp;successful athlete will
                be&nbsp;left without means of&nbsp;livelihood. Harmony in&nbsp;a&nbsp;
                person&rsquo;s life, according to&nbsp;Hartmann, appears when a&nbsp;person
                equally develops a&nbsp;set of&nbsp;directions. The entrepreneur is&nbsp;
                convinced that it&nbsp;is&nbsp;possible to&nbsp;be&nbsp;a&nbsp;truly active
                person, being in&nbsp;constant active movement towards his dreams, and
                at&nbsp;the same time be&nbsp;in&nbsp;balance and harmony with himself.
                Oskar shows by&nbsp;his example that with great diligence this is&nbsp;quite
                feasible. &laquo;If&nbsp;you can effectively dose all the components of&nbsp;
                your life&nbsp;&mdash; family, career, relationships, health and hobbies
                &nbsp;&mdash; you will get the most beautiful composition of&nbsp;your life,
                &raquo; says Hartmann.
              </p>
              <br>
              <p class="section-picture__text">Paying great attention not only to&nbsp;business,
                but also to&nbsp;sports, creativity, and family, the entrepreneur has
                identified for himself ten disciplines in&nbsp;which he&nbsp;tries to&nbsp;succeed:
              </p>
              <ul class="section__list">
                <li>A&nbsp;healthy, energetic, life-loving person</li>
                <li>Husband</li>
                <li>Father</li>
                <li>Son, brother, part of&nbsp;his family</li>
                <li>Friend and partner</li>
                <li>Businessman</li>
                <li>Investor</li>
                <li>Philanthropist with a&nbsp;focus on&nbsp;entrepreneurship development</li>
                <li>Athlete, sprinter, rower</li>
                <li>A&nbsp;spiritual person with a&nbsp;hobby</li>
              </ul>
          </div>
      </div>
  </div>
  <div class="section-picture__img section-picture__img--investments-img">
      <img src="img\5.webp" alt="" data-scroll data-scroll-speed='-0.2'>
  </div>
</section>
