<section class="section-picture family img-left" id="family" data-scroll data-scroll-section>
  <div class="section-picture__content">
    <div class="section-picture__body body-right family-body">
        <h2 class="section-picture__heading">family</h1>
        <p class="section-picture__text">
          Oskar Hartmann has been happy for many years in&nbsp;his one and only marriage. He&nbsp;is&nbsp;married to&nbsp;Tatiana Hartmann, with whom the entrepreneur has three children: two sons and a&nbsp;daughter. Oskar met his future wife while still a&nbsp;student when he&nbsp;came to&nbsp;Moscow on&nbsp;an&nbsp;experience exchange program.
        </p>
        <p class="section-picture__text">
          Tatiana is&nbsp;a&nbsp;loyal companion of&nbsp;Oskar in&nbsp;all spheres of&nbsp;life. In&nbsp;her statements, she is&nbsp;in&nbsp;deep solidarity with her husband and believes that the basic business and human qualities of&nbsp;a&nbsp;person are laid down in&nbsp;childhood. The Hartmanns attach great importance to&nbsp;the upbringing and education of&nbsp;children, so&nbsp;they decided not to&nbsp;send them to&nbsp;study abroad, so&nbsp;as&nbsp;not to&nbsp;destroy family ties and take an&nbsp;active part in&nbsp;their formation.
        </p>
        <p class="section-picture__text">
          Applying his own &laquo;decathlon&raquo; principle, Oskar tries not to&nbsp;focus all attention on&nbsp;work activities in&nbsp;order to&nbsp;devote as&nbsp;much time as&nbsp;possible to&nbsp;his family.
        </p>
        <div class="limiter" data-collapsed>
          <p class="section-picture__text">
            <i>
              &laquo;I&nbsp;am grateful to&nbsp;my&nbsp;wife Tatiana.
              Thanks to&nbsp;her&nbsp;I was able to&nbsp;remain human.
              She didn&rsquo;t let me&nbsp;turn into a&nbsp;business machine and helped
              me&nbsp;to&nbsp;reach peace in&nbsp;my&nbsp;self-consciousness&raquo;</i>
              the entrepreneur admits. Oskar and Tatiana travel a&nbsp;lot with their
              children and have already made more than a&nbsp;hundred trips around the world.
          </p>
          <p class="section-picture__text">Hartmann is&nbsp;convinced that if&nbsp;parents want to&nbsp;give their children unconditional love, then they should try to&nbsp;be&nbsp;a&nbsp;positive example in&nbsp;everything: in&nbsp;relationships with the second half, in&nbsp;a&nbsp;friendly atmosphere at&nbsp;home, in&nbsp;a&nbsp;quality pastime with the family. The Hartmanns support the ideas and identities of&nbsp;their children, while not trying to&nbsp;make them the best copies of&nbsp;themselves.</p>
        </div>
        <button class="more-btn">Reed more</button>
    </div>
    <div class="section-picture__img">
      <img src="img\9.jpg" alt="">
    </div>
  </div>
</section>
