<section class="section-picture first-steps img-right swiper-slide" data-scroll-section>
  <div class="section-picture__content" id="first-steps">
    <div class="section-picture__body body-left">
        <h2 class="section-picture__heading">FIRST BUSINESS STEPS</h1>
        <p class="section-picture__text">
            The first business that Oskar became the founder of&nbsp;was a&nbsp;sports nutrition online-store in&nbsp;Germany.
        </p>
        <br>
        <p class="section-picture__text">
            In&nbsp;2010 the entrepreneur created Sapato, a&nbsp;company specializing in&nbsp;the online sales of&nbsp;new shoe
            collections. Then the first live-TV store in&nbsp;Russia was created&nbsp;&mdash; called Shopping Live, which quickly
            became the leader in&nbsp;sales among its competitors.
        </p>
        <br>
        <p class="section-picture__text">
            In&nbsp;2012 Sapato was acquired by&nbsp;Ozon, and Oskar became a&nbsp;co-shareholder of&nbsp;Ozon.ru. At&nbsp;the same time
            Hartmann sold the main share of&nbsp;Shopping Live which allowed him to&nbsp;obtain capital to&nbsp;launch a&nbsp;number
            of&nbsp;his own enterprises: Teamo, Carprice, Relevant Media, HomeMarket, Aktivo, Vitaportal, AutoSpot, Iqcard,
            Hlebnoe mesto and several Internet companies.
        </p>
    </div>
    <div class="section-picture__img">
      <img srcset="img\2.webp 2x" alt="Оскар сидит на кресле">
    </div>
  </div>
</section>
