<header class="header">
  <nav class="menu">
      <a class="menu__logo" href="">
        <picture>
            <source srcset="img/svg/logo-big.svg" media="(min-width: 424px)" />
            <img src="img/svg/logo-small.svg" />
        </picture>
      </a>
      <ul class="menu__lang-list">
          <li class="menu__lang-item en">
              <button type="button">EN</button>
          </li>
          <li class="menu__lang-item de">
              <button type="button">DE</button>
          </li>
          <li class="menu__lang-item rus">
              <button type="button">RU</button>
          </li>
      </ul>
      <button class="menu__btn btn">
          <span class="btn__line btn__line--1"></span>
          <span class="btn__line btn__line--2"></span>
          <span class="btn__line btn__line--3"></span>
      </button>
  </nav>
  <div class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item">
            <a href="#">my youtube chanel</a>
        </li>
        <li class="navigation__item">
            <a href="#">my book</a>
        </li>
        <li class="navigation__item">
          <a href="#">my instagram</a>
      </li>
      <li class="navigation__item">
        <a href="#">my telegram</a>
    </li>
    </ul>
    <div class="navigation__contacts">
      <div class='menu__communication communication'>
        <a class="communication__phone" href="tel:+78121111111">8 (812) 123-45-67</a>
        <a class="communication__mail" href="mailto:mail@htmlacademy.ru&body=привет?subject=вопрос">VLADIMIR@HARTMANN.HOLDINGS</a>
      </div>
    </div>
  </div>
</header>
