<section class="section introduction">
  <div class="introduction__content">
      <h1 class="introduction__heading">Oscar Hartmann</h1>
      <p class="introduction__text">Inspire people to take actions that improve the quality of life</p>
  </div>
  <div class="introduction__video-wrapper">
      <video loop muted playsinline autoplay="autoplay" type="video/mp4" id="autoplay">
          <source src="video/introduction-screen-small.mp4" type="video/mp4" media="min-width: 767px">
          <source src="video/introduction-screen-big.mp4" type="video/mp4">
      </video>
  </div>
  <a class="next-screen" href="#"></a>
</section>

