<section class="section-picture investments img-left" id="investments" data-scroll data-scroll-section>
  <div class="section-picture__content section-picture__content--investments-content">
    <div class="section-picture__body body-right">
        <h2 class="section-picture__heading">INVESTMENTS</h1>
          <p class="section-picture__text">
              Oskar Harmann is&nbsp;a&nbsp;venture capitalist and business angel. He&nbsp;is&nbsp;a&nbsp;co-founder and partner of&nbsp;Fastline Ventures, Simile Ventures Partners, and LARIX&nbsp;funds. Hartmann has invested in&nbsp;many international companies: Auto1&nbsp;Group, Casacanda (fab.com), Frontier Car Group, FashionAndYou, Sukar, Nanjacart, June Homes, Flaschenpost.de.
          </p>
          <br>
          <p class="section-picture__text">
              Oskar&rsquo;s venture investment portfolio (including the Hartmann family holding Hartmann Holdings) includes more than seventy companies. Five of&nbsp;them have already reached a&nbsp;capitalization of&nbsp;more than $&nbsp;1&nbsp;billion.
          </p>
          <br>
          <div class="limiter" data-collapsed>
            <p class="section-picture__text">
                Oskar Hartmann is widely recognized as one of the most successful business angels in the world. At the Ernst&Young international competition "Entrepreneur of the Year 2015" in Russia Oskar received the nomination "Master of Investment". Hartmann acts as an ambassador and an active participant in several annual competitions for entrepreneurs: "Breakthrough of the Year", EY-Entrepreneur of the year.
            </p>
            <br>
            <p class="section-picture__text">
                In&nbsp;2018, he&nbsp;entered the top 1000 richest residents of&nbsp;Germany. Today Oskar is&nbsp;a&nbsp;member of&nbsp;the board of&nbsp;directors of&nbsp;Alfa-Bank, the Airplane Group&nbsp;&mdash; one of&nbsp;the largest federal developers, as&nbsp;well as&nbsp;the Moscow Exchange, the largest Russian stock exchange holding. Investments for Oskar Hartmann are mostly a&nbsp;way to&nbsp;explore the world. His goal was to&nbsp;invest in&nbsp;ideas that transform the world and people for the better by&nbsp;creating new values.
            </p>
          </div>
      <button type="button" class="more-btn collapsed">Reed more</button>
    </div>
    <div class="section-picture__img section-picture__img--investment">
      <img srcset="img\1.webp 2x" alt="Оскар в костюме">
    </div>
  </div>
</section>
