<section class="section-picture outreach">
  <div class="section-picture__content section-picture__content--investments-content" data-scroll data-scroll-speed='1'>
      <div class="section-picture__container">
          <div class="section-picture__body section-picture__body--investments-body">
              <h2 class="section-picture__heading">INVESTMENTS</h1>
              <p class="section-picture__text">
                  Oskar Hartmann is&nbsp;one of&nbsp;the most open and highly-demanded speakers in&nbsp;Russia. An&nbsp;entrepreneur personally demonstrates an&nbsp;active approach to&nbsp;business and life, as&nbsp;well as&nbsp;the benefits of&nbsp;positive thinking. Oskar devotes a&nbsp;significant part of&nbsp;his time to&nbsp;the development of&nbsp;entrepreneurship around the world. His initiatives are aimed at&nbsp;supporting and unveiling the potential of&nbsp;young talented people and successful entrepreneurs. More than twenty thousand people a&nbsp;year take part in&nbsp;programs and seminars created by&nbsp;Oskar.
              </p>
              <p class="section-picture__text">Оскар не&nbsp;только создаёт, но&nbsp;и&nbsp;курирует множество сообществ:
              </p>
              <ol class="section__list">
                <li>Лидерская программа &laquo;Преактум&raquo;&nbsp;&mdash; это образовательная экосистема, которая связывает компании и&nbsp;молодых предпринимателей. На&nbsp;собственной образовательной платформе проводятся интерактивные курсы от&nbsp;ведущих экспертов российских и&nbsp;мировых компаний. Участники изучают маркетинг, продажи, программирование, бизнес-модели и&nbsp;экономику.</li>
                <li>&laquo;Эквиум&raquo;&nbsp;&mdash; бизнес сообщество, объединяющее самых влиятельных предпринимателей&nbsp;&mdash; людей, которые не&nbsp;только могут построить многомиллиардную компанию, но&nbsp;поддерживают социально преобразующую деятельность, меняющую жизнь общества к&nbsp;лучшему. В&nbsp;качестве своей главной цели это сообщество видит качественное изменение макроэкономических процессов и&nbsp;улучшение благосостояния человека через развитие предпринимательства и&nbsp;популяризацию позитивных ролевых моделей.</li>
                <li>Кроме того Оскару Хартманну принадлежит должность Председателя попечительского совета &laquo;Рыбаков-фонд&raquo;&nbsp;&mdash; некоммерческой организации, созданной для поддержки российского предпринимательства, а&nbsp;также социальных некоммерческих проектов и&nbsp;образования.</li>
              </ol>
          </div>
      </div>
  </div>
  <div class="section-picture__img section-picture__img--investments-img">
      <img src="img\4.webp" alt="" data-scroll data-scroll-speed='-1'>
  </div>
</section>
