<section class="section-picture outreach img-left" id="outreach" data-scroll data-scroll-section>
  <div class="section-picture__content">
    <div class="section-picture__body body-right">
        <h2 class="section-picture__heading">OUTREACH AND COMMUNITIES</h1>
        <p class="section-picture__text">
            Oskar Hartmann is&nbsp;one of&nbsp;the most open and highly-demanded speakers in&nbsp;Russia. An&nbsp;entrepreneur personally demonstrates an&nbsp;active approach to&nbsp;business and life, as&nbsp;well as&nbsp;the benefits of&nbsp;positive thinking. Oskar devotes a&nbsp;significant part of&nbsp;his time to&nbsp;the development of&nbsp;entrepreneurship around the world. His initiatives are aimed at&nbsp;supporting and unveiling the potential of&nbsp;young talented people and successful entrepreneurs. More than twenty thousand people a&nbsp;year take part in&nbsp;programs and seminars created by&nbsp;Oskar.
        </p>
        <br>
        <div class="limiter" data-collapsed>
          <p class="section-picture__text">Oskar not only creates, but also oversees many communities:</p>
          <ol class="section__list">
            <li>The Preaktum Leadership Program is&nbsp;an&nbsp;educational ecosystem that connects companies and young entrepreneurs. Interactive courses from leading experts of&nbsp;Russian and global companies are held on&nbsp;our own educational platform. Participants study marketing, sales, programming, business models and economics.</li>
            <li>Equium is&nbsp;a&nbsp;business community that unites the most influential entrepreneurs&nbsp;&mdash; people who are not only able to&nbsp;build a&nbsp;multibillion-dollar company, but also support socially transformative activities that change the life of&nbsp;society for the better. As&nbsp;its main goal, this community sees a&nbsp;qualitative change in&nbsp;macroeconomic processes and the improvement of&nbsp;human well-being through the development of&nbsp;entrepreneurship and the popularization of&nbsp;positive role models.</li>
            <li>In&nbsp;addition, Oskar Hartmann holds the position of&nbsp;Chairman of&nbsp;the Board of&nbsp;Trustees of&nbsp;the Rybakov Foundation, a&nbsp;non-profit organization created to&nbsp;support Russian entrepreneurship, as&nbsp;well as&nbsp;social non-profit projects and education.</li>
          </ol>
          <br>
        </div>
        <button class="more-btn">Reed more</button>
    </div>
    <div class="section-picture__img section-picture__img--outreach">
      <img src="img\4.webp" alt="">
    </div>
  </div>
</section>
