<div class="table-of-content">
  <ul class="table-of-content__list">
    <li class="table-of-content__item">
        <a href="#bio" class="table-of-content__link active">BIOGRAPHY</a>
    </li>
    <li class="table-of-content__item">
        <a href="#first-steps" class="table-of-content__link">first steps</a>
    </li>
    <li class="table-of-content__item">
        <a href="#investments" class="table-of-content__link">Investments</a>
    </li>
    <li class="table-of-content__item">
        <a href="#hobbies" class="table-of-content__link">Hobbies</a>
    </li>
    <li class="table-of-content__item">
        <a href="#for-people" class="table-of-content__link">for people</a>
    </li>
    <li class="table-of-content__item">
      <a href="#outreach" class="table-of-content__link">outreach</a>
    </li>
    <li class="table-of-content__item">
      <a href="#media" class="table-of-content__link">media</a>
    </li>
    <li class="table-of-content__item">
      <a href="#decathlon" class="table-of-content__link">decathlon</a>
    </li>
    <li class="table-of-content__item">
      <a href="#business" class="table-of-content__link">business</a>
    </li>
    <li class="table-of-content__item">
      <a href="#family" class="table-of-content__link">family</a>
    </li>
    <span class="table-of-content__line"></span>
  </ul>
</div>
