<section class="history-page__section lead-article row-revers" id="decathlon" data-scroll-section>
    <div class="lead-article__content">
      <div class="lead-article__container row-revers">
        <div class="lead-article__body entry body-l">
          <div class="entry__num">
            <span class="current">8</span>
            <span class="separator">/</span>
            <span class="total">10</span>
          </div>
          <h2 class="entry__title">
            <a href="decathlon.html">DECATHLON</a>
          </h2>
          <p class="entry__text">
            In&nbsp;addition to&nbsp;the philosophy of&nbsp;Action,
            Oskar Hartmann defines &laquo;decathlon&raquo; as&nbsp;a&nbsp;derivative
            of&nbsp;the meaning of&nbsp;life&nbsp;&mdash; a&nbsp;principle that
            he&nbsp;invented for himself. Oskar is&nbsp;convinced that a&nbsp;person
            should not throw all his strength into just one area: business, career,
            sports or&nbsp;family. Then the other aspects of&nbsp;life will remain &laquo;overboard&raquo;.
          </p>
          <a class="site-link" href="decathlon.html" ontouchstart>Read More</a>
        </div>
      </div>
    </div>
    <div class="lead-article__img img-l shrink">
        <picture>
          <source srcset="img/dec-big.jpg" media="(min-width: 767px)">
          <img class="content-img content-img-top" src="img/dec-small.jpg">
        </picture>
    </div>
</section>
