<section class="history-page__section lead-article row-revers" id="first-steps" data-scroll-section>
    <div class="lead-article__content">
      <div class="lead-article__container row-revers">
        <div class="lead-article__body entry body-l">
          <div class="entry__num">
            <span class="current">2</span>
            <span class="separator">/</span>
            <span class="total">10</span>
          </div>
          <h2 class="entry__title">
            <a href="first-steps.html">FIRST BUSINESS-STEPS</a>
          </h2>
          <p class="entry__text">
            The first business that Oskar became the founder of&nbsp;was a&nbsp;sports nutrition
            online-store in&nbsp;Germany. In&nbsp;2010 the entrepreneur created Sapato, a&nbsp;company
            specializing in&nbsp;the online sales of&nbsp;new shoe collections. Then the first live-TV store
            in&nbsp;Russia was created&nbsp;&mdash; called Shopping Live, which quickly became the leader
            in&nbsp;sales among its competitors.
          </p>
          <a class="site-link" href="first-steps.html" ontouchstart>Read More</a>
        </div>
      </div>
    </div>
    <div class="lead-article__img img-l shrink">
        <picture>
          <source srcset="img/steps-big.jpg" media="(min-width: 767px)">
          <img class="content-img content-img-top" src="img/steps-small.jpg">
        </picture>
    </div>
</section>
