<section class="history-page__section lead-article row-revers" id="outreach" data-scroll-section>
    <div class="lead-article__content">
      <div class="lead-article__container row-revers">
        <div class="lead-article__body entry body-l">
          <div class="entry__num">
            <span class="current">6</span>
            <span class="separator">/</span>
            <span class="total">10</span>
          </div>
          <h2 class="entry__title">
            <a href="outreach.html">OUTREACH AND COMMUNITIES</a>
          </h2>
          <p class="entry__text">
            Oskar Hartmann is&nbsp;one of&nbsp;the most open and highly-demanded speakers in&nbsp;Russia.
            An&nbsp;entrepreneur personally demonstrates an&nbsp;active approach to&nbsp;business and life,
            as&nbsp;well as&nbsp;the benefits of&nbsp;positive thinking. Oskar devotes a&nbsp;significant
            part of&nbsp;his time to&nbsp;the development of&nbsp;entrepreneurship around the world.
          </p>
          <a class="site-link" href="outreach.html" ontouchstart>Read More</a>
        </div>
      </div>
    </div>
    <div class="lead-article__img img-l shrink">
        <picture>
          <source srcset="img/outreach-big.jpg" media="(min-width: 767px)">
          <img class="content-img content-img-top" src="img/outreach-small.jpg">
        </picture>
    </div>
</section>
