<section class="history-page__section lead-article" id="bio" data-scroll-section>
  <div class="lead-article__content">
    <div class="lead-article__container">
      <div class="lead-article__body entry">
          <div class="entry__num">
            <span class="current">1</span>
            <span class="separator">/</span>
            <span class="total">10</span>
          </div>
          <h2 class="entry__title">
            <a href="bio.html">BIOGRAPHY</a>
          </h2>
          <p class="entry__text">
            Oskar was born into a&nbsp;family of&nbsp;Russian Germans in&nbsp;Kazakhstan on&nbsp;May&nbsp;14, 1982.
            When Oskar turned eight years old, his parents decided to&nbsp;move to&nbsp;Germany, where the future
            entrepreneur spent all his youth. At&nbsp;the age of&nbsp;seventeen, Hartmann flew to&nbsp;the United
            States where he&nbsp;completed exchange studies at&nbsp;Tuscarawas Valley High School in&nbsp;order
            to&nbsp;master English in&nbsp;which he&nbsp;eventually succeeded. After coming back to&nbsp;Germany
            he&nbsp;graduated with honors from the technical gymnasium. When it&nbsp;came to&nbsp;serving
            in&nbsp;the army, Oskar chose an&nbsp;alternative civilian service, with which he&nbsp;proceeded
            in&nbsp;Russia during the whole 2004&nbsp;at the Children&rsquo;s Clinical Hospital.
          </p>
          <a class="site-link" href="bio.html" ontouchstart>Read More</a>
      </div>
    </div>
  </div>
  <div class="lead-article__img">
      <picture>
        <source srcset="img/bio-big.jpg" media="(min-width: 767px)">
        <img class="content-img content-img-top" src="img/bio-small.jpg">
      </picture>
  </div>
</section>
