<section class="history-page__section lead-article" id="media" data-scroll-section>
    <div class="lead-article__content">
      <div class="lead-article__container">
        <div class="lead-article__body entry">
          <div class="entry__num">
            <span class="current">7</span>
            <span class="separator">/</span>
            <span class="total">10</span>
          </div>
          <h2 class="entry__title">
            <a href="media.html">Media</a>
          </h2>
          <p class="entry__text">
            For the first ten years of&nbsp;his entrepreneurial activity,
            Oskar successfully managed all his projects, focusing on&nbsp;all
            the opportunities they could provide him with. After reaching a&nbsp;certain point,
            Hartman had the necessary amount of&nbsp;resources not only to&nbsp;provide
            for himself and his family.
          </p>
          <a class="site-link" href="media.html" ontouchstart>Read More</a>
        </div>
      </div>
    </div>
    <div class="lead-article__img">
        <picture>
          <source srcset="img/media-big.jpg" media="(min-width: 767px)">
          <img class="content-img" src="img/media-small.jpg">
        </picture>
    </div>
</section>
