<section class="history-page__section lead-article row-revers" id="family" data-scroll-section>
    <div class="lead-article__content">
      <div class="lead-article__container row-revers">
        <div class="lead-article__body entry body-l">
          <div class="entry__num">
            <span class="current">10</span>
            <span class="separator">/</span>
            <span class="total">10</span>
          </div>
          <h2 class="entry__title">
            <a href="family.html">family</a>
          </h2>
          <p class="entry__text">
            Oskar Hartmann has been happy for many years in&nbsp;his one and only marriage.
            He&nbsp;is&nbsp;married to&nbsp;Tatiana Hartmann, with whom the entrepreneur
            has three children: two sons and a&nbsp;daughter. Oskar met his future wife
            while still a&nbsp;student when he&nbsp;came to&nbsp;Moscow on&nbsp;
            an&nbsp;experience exchange program.
          </p>
          <a class="site-link" href="family.html" ontouchstart>Read More</a>
        </div>
      </div>
    </div>
    <div class="lead-article__img img-l shrink">
        <picture>
          <source srcset="" media="(min-width: 767px)">
          <img class="content-img" src="img/family.jpg">
        </picture>
    </div>
</section>
