<section class="history-page__section lead-article" id="business" data-scroll-section>
  <div class="lead-article__content">
    <div class="lead-article__container">
      <div class="lead-article__body entry">
        <div class="entry__num">
          <span class="current">9</span>
          <span class="separator">/</span>
          <span class="total">10</span>
        </div>
        <h2 class="entry__title mb">
          <a href="business.html">business</a>
        </h2>
        <p class="entry__underline">
          <i>&bdquo;You are what you&nbsp;do&bdquo;</i>
        </p>
        <p class="entry__text">
          The life strategy and business plan of&nbsp;entrepreneur Oskar Hartmann
          is&nbsp;to&nbsp;achieve everything through active actions, be&nbsp;faster
          than others and not be&nbsp;afraid to&nbsp;try new things all the time.
          From the age of&nbsp;11, when young Hartmann got his first job, until
          today, when his companies have reached a&nbsp;capitalization of&nbsp;five
          billion&nbsp;US dollars, Oscar was guided by&nbsp;the philosophy of&nbsp;action.
        </p>
        <a class="site-link" href="business.html" ontouchstart>Read More</a>
      </div>
    </div>
  </div>
  <div class="lead-article__img">
      <picture>
        <source srcset="img/business-big.jpg" media="(min-width: 767px)">
        <img class="content-img content-img-top" src="img/business-small.jpg">
      </picture>
  </div>
</section>
