<section class="history-page__section lead-article" id="investment" data-scroll-section>
    <div class="lead-article__content">
      <div class="lead-article__container">
        <div class="lead-article__body entry">
          <div class="entry__num">
            <span class="current">3</span>
            <span class="separator">/</span>
            <span class="total">10</span>
          </div>
          <h2 class="entry__title">
            <a href="investments.html">INVESTMENTS</a>
          </h2>
          <p class="entry__text">
            Oskar Harmann is&nbsp;a&nbsp;venture capitalist and business angel.
            He&nbsp;is&nbsp;a&nbsp;co-founder and partner of&nbsp;Fastline Ventures,
            Simile Ventures Partners, and LARIX&nbsp;funds. Hartmann has invested
            in&nbsp;many international companies: Auto1&nbsp;Group, Casacanda (fab.com),
            Frontier Car Group, FashionAndYou, Sukar, Nanjacart, June Homes, Flaschenpost.de.
            Oskar&rsquo;s venture investment portfolio (including the Hartmann family holding
            Hartmann Holdings) includes more than seventy companies. Five of&nbsp;them have
            already reached a&nbsp;capitalization of&nbsp;more than $&nbsp;1&nbsp;billion.
          </p>
          <a class="site-link" href="investments.html" ontouchstart>Read More</a>
        </div>
      </div>
    </div>
    <div class="lead-article__img">
        <picture>
          <source srcset="img/investment-big.jpg" media="(min-width: 767px)">
          <img class="content-img content-img-top" src="img/investment-small.jpg">
        </picture>
    </div>
</section>
