<section class="history-page__section lead-article row-revers" id="hobbies" data-scroll-section>
    <div class="lead-article__content">
      <div class="lead-article__container row-revers">
        <div class="lead-article__body entry body-l">
          <div class="entry__num">
            <span class="current">4</span>
            <span class="separator">/</span>
            <span class="total">10</span>
          </div>
          <h2 class="entry__title">
            <a href="hobbies.html">HOBBIES</a>
          </h2>
          <p class="entry__text">
            Oskar is&nbsp;a&nbsp;versatile person, delving into all his hobbies.
            Since 2017 the entrepreneur has been running his YouTube channel,
            the total coverage of&nbsp;which exceeds thirty million viewers.
            Hartmann puts out professionally filmed fascinating videos along
            with a&nbsp;lot of&nbsp;practical tips and useful information for
            potential and current businessmen.
          </p>
          <a class="site-link" href="hobbies.html" ontouchstart>Read More</a>
        </div>
      </div>
    </div>
    <div class="lead-article__img img-l shrink">
        <picture>
          <source srcset="img/hobbie-big.jpg" media="(min-width: 767px)">
          <img class="content-img" src="img/hobbie-small.jpg">
        </picture>
    </div>
</section>
