*,
*::after,
*::before {
  box-sizing: border-box;
}

@keyframes xBorderInAnimation {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
@keyframes yBorderInAnimation {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
@keyframes xBorderOutAnimation {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}
@keyframes yBorderOutAnimation {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: $main-dark;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

h1 {
  font-family: 'Bebas Neue Cyrillic';
  @include adaptiv-font(400, 85);
  font-weight: 400;
  margin-top: 0;
  color: $main-light;
  line-height: 0.9;
  margin: 0;
}

h2 {
  font-family: 'Bebas Neue Cyrillic';
  @include adaptiv-font(80, 55);
  font-weight: 400;
  color: $main-light;
  line-height: 1;
}

button {
  display: block;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}

ol {
  padding-left: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  font-family: 'Baskerville Cyrillic';
  font-weight: 400;
  color: $main-light;
}

.container {
  position: relative;
}

.more-btn {
  font-family: 'Baskerville Cyrillic';
  font-weight: 400;
  @include adaptiv-font(30, 22);
  color: $main-light;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 2px solid $main-light;
  padding: 12px 7px 7px 7px;
  line-height: 1;
  transition: opacity 0.2s $cubic;
}

.limiter {
  overflow: hidden;
  transition: height 0.4s $cubic;
  height: 0;
  margin-bottom: 20px;
}

.more-btn:active {
  opacity: 1;
}

@media (min-width: 1439px) {
  ol {
    padding-left: 60px;
  }

  .more-btn {
    opacity: 0.8;
  }

  .more-btn:hover {
    opacity: 1;
  }
}
